* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
}

button {
    margin-left: 20px;
}

h3 {
    margin-top: 100px;
}

p {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 30px;
    width: 250px;
    padding: 0;
}

.right-side {
    position: absolute;
    top: 80px;
    left: 600px;
}

.pass-button, .change-pass {
    margin-top: 10px;
}

.hide {
    display: none;
}

.navbar {
    float: right;
    height: 60px;
}