* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
    min-width: 530px;
}


.left {
    font-weight: 700;
}

.profile-pic {
    border-radius: 50%;
}

.mini-profile {
    border-radius: 50%;
}

a:hover {
    text-decoration: none;
}

.container {
    position: relative;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}


.right-div {
    float: right;
}

a {
    padding: 0;
}

.column {
    display: inline-block;
    padding-right: 0px;
}

.right-div, .right-a {
    float: right;
}

.right-div {
    display: inline-flex;
    margin-top: 10px;
}

.row-column {
    width: 100%;
}

.logo {
    height: 66.5px;
    margin-left: 15px;
    margin-top: 5px;
}

.btn {
    background-color: #58b7eb;
    border-radius: 4px;
    height: 35px;
    width: 90px;
    font-style: bolder;
    border: none;
    color: white;
    font-weight: 600;
}

.btn:hover {
    background-color: #34a8e7;
    color: white;
}

.dropdown {
    width: 60%;
    margin-left: 50%;
    transform: translate(-50%,0);
    min-width: 300px;
}

.dropdown-button {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.searchbox {
    margin-top: 40px;
}

h5 {
    color: rgb(15, 87, 163);
    font-size: 16px;
    margin-top: 15px;
}

h3{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color:#34a8e7;
}

label {
    font-weight: 600;
    color: #34a8e7;
}