* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.left {
    font-weight: 700;
}

.profile-pic {
    border-radius: 50%;
}

.mini-profile {
    border-radius: 50%;
}

a:hover {
    text-decoration: none;
}

.container {
    padding: 0;
}

.right-div {
    float: right;
}

a {
    padding: 0;
}

.column {
    display: inline-block;
    padding-right: 0px;
}

.right-div, .right-a {
    float: right;
}

.right-div {
    display: inline-flex;
    margin-top: 10px;
}

.row-column {
    width: 100%;
}

.logo {
    height: 66.5px;
    margin-left: 15px;
    margin-top: 5px;
}

.add-user{
    background-color: #58b7eb;
    border-radius: 4px;
    height: 40px;
    width: 90px;
    font-style: bolder;
    border: none;
    color: white;
    font-weight: 600;
}

.add-user:hover {
    background-color: #34a8e7;
    color: white;
}


.btn {
    background-color: #58b7eb;
    border-radius: 4px;
    height: 35px;
    width: 90px;
    font-style: bolder;
    border: none;
    color: white;
    font-weight: 600;
}

.btn:hover {
    background-color: #34a8e7;
    color: white;
}

.container {
    max-width: 50%;
    margin-left: 120px;
}

.search-button2 {
    background-color: #58b7eb;
    border-radius: 4px;
    height: 50px;
    width: 300px;
    font-style: bolder;
    border: none;
    color: white!important;
    font-weight: 600;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.search {
    margin-top: 50px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.search-button:hover, .search-button2:hover {
    background-color: #34a8e7;
}
.dropdown {
    width: 60%;
    margin-left: 50%;
    transform: translate(-50%,0);
    min-width: 300px;
}

.dropdown-button {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.searchbox {
    margin-top: 40px;
}

h5 {
    color: rgb(15, 87, 163);
    font-size: 16px;
    margin-top: 15px;
}

.error-msg {
    position: absolute;
    color: red!important;
    font-weight: bold;
    left:50%;
    top: 12%;
    transform: translate(-50%, 0);
}