* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 11px;
}

.search {
    float: left;
    margin-top: 10px;
}

.search-input {
    height: 35px;
}

.search-button {
    background-color: #58b7eb;
    border-radius: 4px;
    height: 35px;
    width: 90px;
    font-style: bolder;
    border: none;
    color: white;
    font-weight: 600;
}

.search-button:hover {
    background-color: #34a8e7;
}

.page-wrap {
    margin-top: 40px;
    width: 95%;
}

.left-side {
    width: 200px;
}

.list-group-item {
    padding: 5px 0;
    margin-left: 20px;
    border: 0;
    width: 90%;
}

.list-group-item:hover {
    background-color: white;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    float: left;
}

.product {
    background-color: #E8F3F9;
    height: 100px;
    margin: 10px 0;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product:hover {
    background-color: #d9eefa;
}

.product-pic {
    float: left;
    margin-right: 20px;
}

.price {
    color: #CF5100;
    font-weight: bold;
    margin: 0 20px;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 20px;
}

.type {
    margin-left: 8px;
}

.type2 {
    font-weight: bold;
    margin-left: 20px;
}

.simple {
    background-color: white;
    border: none;
    margin-left: 10px;
    color: rgb(46, 46, 46);
    width: 100%;
}

.simple:focus {
    outline: none;
}

.column {
    display: inline-block;
}

.right-div, .right-a {
    float: right;
}

.price-search {
    display: inline-flex;
}

.price-search p {
    margin-top: 10px;
    font-size: 20px;
    margin-right: 20px;
}

.price-search button {
    float: right;
    position: relative;
    left: 80%;
    top: -50px;
}

.center {
    position: relative;
    left: 70%;
    top: 0px;
    transform: translate(-50%, 0);
}

.row-column {
    width: 90%;
    margin: 0;
    padding: 0;
}

.price-col {
    max-width: 25%;
}

.row {
    max-width: 90%;
}

