* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.product {
    background-color: #E8F3F9;
    height: 180px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
    overflow: auto;
}

.left {
    font-weight: 700;
}

.product:hover {
    background-color: #d9eefa;
}

a:hover {
    text-decoration: none;
}

.desc {
    font-style: italic;
    color: rgb(15, 87, 163);
    font-weight: 600;
    font-size: 14px;
}

.product-pic {
    float: left;
    margin-right: 20px;
    max-width: 220px;
}

.delete-button {
    background-color: #f74646;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
}

.text-message, .delete-order {
    width: 100%;
}

.arrived-div {
    margin-bottom: 70px;
    width: 100%;
}

.price {
    color: red;
    margin-left: 20px;
}

.type2 {
    font-weight: 600;
    margin-left: 20px;
}

.delete-button:hover {
    box-shadow: 3px 3px 2px #aaaaaa;
}

.column {
    display: inline-block;
}

.right-div, .right-a {
    float: right;
}

.right-div {
    display: inline-flex;
    margin-top: 10px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row-column {
    width: 100%;
}

.logo {
    height: 66.5px;
    margin-left: 15px;
    margin-top: 5px;
}

h5 {
    color: rgb(15, 87, 163);
    font-size: 16px;
    margin-top: 15px;
}

h3 {
    color: rgb(15, 87, 163);
    font-size: 16px;
    margin-top: 15px;
    margin-left: 40px;
    font-weight: 600;
}

.mini-profile {
    border-radius: 50%;
}

.nav {
    margin-bottom: 50px;
}

.arrived {
    text-align: center;
    margin-right: 20px;
}

.button-arrived {
    background-color: #8CC63F;
    height: 40px;
    min-width: 190px;
    border-radius: 10px;
    border: none;
}

.button-arrived:hover {
    box-shadow: 3px 3px 2px #aaaaaa;
}

.button-arrived:focus, .delete-button:focus {
    outline: none;
}