* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.online-payment, .basic-payment {
    max-width: 560px;
    background-color: rgb(231, 226, 226);
    height: auto;
    padding:35px;
    margin: 0 30px;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
}

.navbar {
    float: right;
}

.navigation {
    height: 60px;
}

.btn {
    width: 50%;
    position: relative;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%, -50%);
    background-color: rgb(100, 100, 226);
}

.btn:hover {
    box-shadow: 1px 1px black;
}

.p-info {
    margin-left: 30%;
    font-weight: bold;
    margin-top: 40px;
    font-size: 22px;
}

h3 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

.input {
    padding: 10px 0 10px 20px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
}