* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    float: right;
}

.navigation {
    height: 60px;
}

.btn {
    margin-left: 20%;
    margin-top: 25px;
    width: 100px;
}

.p-info {
    margin-left: 30%;
    font-weight: bold;
    margin-top: 40px;
    font-size: 22px;
}