* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-profile {
    margin-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
}

.row {
    background-color: white;
    padding-bottom: 10px;
}

.picture {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-button {
    margin-left: 30px;
}

.right-div {
    float: right;
}

a {
    padding: 0;
}

.column {
    display: inline-block;
}

.right-div, .right-a {
    float: right;
}

.right-div {
    display: inline-flex;
    margin-top: 10px;
}

.row-column {
    width: 100%;
}

.logo {
    height: 66.5px;
    margin-left: 15px;
    margin-top: 5px;
}

h5 {
    color: rgb(15, 87, 163);
    font-size: 16px;
    margin-top: 15px;
}

span {
    font-weight: 500;
    color: rgb(15, 87, 163);
    margin-right: 20px;
}

.profile-pic {
    border-radius: 50%;
}

.mini-profile {
    border-radius: 50%;
}

ul {
    margin-left: 3px;
    width: 70%;
    margin-top: 100px;
    border: 2px solid rgb(15, 87, 163);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}