* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.row {
    background-color: white;
    padding-bottom: 10px;
}

.right-div {
    float: right;
    display: inline-flex;
    margin-top: 10px;
}

.column {
    display: inline-block;
}

.right-div, .right-a {
    float: right;
}

.logo {
    height: 66.5px;
    margin-left: 15px;
    margin-top: 5px;
}

h5 {
    color: rgb(15, 87, 163);
    font-size: 16px;
    margin-top: 15px;
}

.mini-profile {
    border-radius: 50%;
}

a {
    padding: 0;
}

.row-column {
    width: 100%;
}

.user-profile {
    margin-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
}

.picture {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {
    font-weight: 500;
    color: rgb(15, 87, 163);
    margin-right: 20px;
}

.profile-pic {
    border-radius: 50%;
}

ul {
    margin-left: 3px;
    width: 70%;
    margin-top: 100px;
    border: 2px solid rgb(15, 87, 163);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4 {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(15, 87, 163);
    text-decoration: underline;
}

.comments {
    margin-top: 70px;
    margin-left: 50%;
    transform: translate(-50%,0);
    width: 70%;
    margin-bottom: 80px;
}

.bold {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.rate, .comm {
    margin-bottom: 0;
}

.rate-div {
    margin-top: 80px;
    padding: 30px 50px;
    width: 100%;
    background-color: #E8F3F9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50%;
    transform: translate(-50%, 0);
    min-width: 400px;
}

h3 {
    text-align: center;
    font-size: 20px;
}

.comm {
    font-style: italic;
}